; ==========================================================
; MAP Name: dod_zm_northernpertol_v2_b1
; DOWNLOAD: https://gamebanana.com/mods/65779
;
; PURPOSE:
;   - 
;   - 
;   - 
;
; NOTES:
;   - 
;   - 
;     
; ==========================================================


; ==========================================================
; 
; Misc Fix
;  
; ==========================================================

; 1. Fix Audio and Add Outputs for Garage Door 1
modify:
{
    match:
    {   
        "targetname" "garage_door1"
        "classname" "func_door"
    }
    replace:
    {
        "loopmovesound" "0"
        "noise1" ""
        "startclosesound" ""
    }
    insert:
    {
        "OnOpen" "garage_sound_loop1,PlaySound,,0,-1"
        "OnClose" "garage_sound_loop1,PlaySound,,0,-1"
        ; Stops the loop and instantly triggers the stop "clunk" sound
        "OnFullyOpen" "garage_sound_loop1,StopSound,,0,-1"
        "OnFullyOpen" "garage_sound_stop1,PlaySound,,0,-1"
        "OnFullyClosed" "garage_sound_loop1,StopSound,,0,-1"
        "OnFullyClosed" "garage_sound_stop1,PlaySound,,0,-1"
    }
}

; 2. Fix Audio and Add Outputs for Garage Door 2
modify:
{
    match:
    {   
        "targetname" "garage_door2"
        "classname" "func_door"
    }
    replace:
    {
        "loopmovesound" "0"
        "noise1" ""
        "startclosesound" ""
    }
    insert:
    {
        "OnOpen" "garage_sound_loop2,PlaySound,,0,-1"
        "OnClose" "garage_sound_loop2,PlaySound,,0,-1"
        ; Stops the loop and instantly triggers the stop "clunk" sound
        "OnFullyOpen" "garage_sound_loop2,StopSound,,0,-1"
        "OnFullyOpen" "garage_sound_stop2,PlaySound,,0,-1"
        "OnFullyClosed" "garage_sound_loop2,StopSound,,0,-1"
        "OnFullyClosed" "garage_sound_stop2,PlaySound,,0,-1"
    }
}

; 3. Moving Sound Entities (Loops)
add:
{
    "classname" "ambient_generic"
    "targetname" "garage_sound_loop1"
    "message" "doors/garage_move1.wav"
    "health" "10"
    "preset" "0"
    "radius" "1250"
    "spawnflags" "16"
    "origin" "-724 115.5 -239.5"
}
add:
{
    "classname" "ambient_generic"
    "targetname" "garage_sound_loop2"
    "message" "doors/garage_move1.wav"
    "health" "10"
    "preset" "0"
    "radius" "1250"
    "spawnflags" "16"
    "origin" "-1020 115.5 -239.5"
}

; 4. Stop Sound Entities (One-shots)
add:
{
    "classname" "ambient_generic"
    "targetname" "garage_sound_stop1"
    "message" "doors/garage_stop1.wav"
    "health" "10"
    "preset" "0"
    "radius" "1250"
    "spawnflags" "48" ; Flag 16 (Start Silent) + Flag 32 (Is NOT Looped)
    "origin" "-724 115.5 -239.5"
}
add:
{
    "classname" "ambient_generic"
    "targetname" "garage_sound_stop2"
    "message" "doors/garage_stop1.wav"
    "health" "10"
    "preset" "0"
    "radius" "1250"
    "spawnflags" "48" ; Flag 16 (Start Silent) + Flag 32 (Is NOT Looped)
    "origin" "-1020 115.5 -239.5"
}




; ==========================================================
; Helper filter so only zombie can damage some items
; This allows "damagefilter" "zombie_only" to be applied
;  
; ==========================================================
modify:
{
	"targetname" "zombie_only"
	"Negated" "Allow entities that match criteria"
	"filterteam" "3"
	"classname" "filter_activator_team"
}

; Roof Barrier
modify:
{
	match:
	{	
	    "targetname" "roofbit"
		"hammerid" "11546"
		"classname" "func_breakable"
	}
	insert:
	{
		"damagefilter" "zombie_only"
	}
}

; Office Window - Right 
modify:
{
	match:
	{	
		"hammerid" "9116"
		"classname" "func_breakable"
	}
	insert:
	{
	    "targetname" "window_r"
		"damagefilter" "zombie_only"
	}
	replace:
	{
		"health" "500"
	}
}

; Office Window - Right 
modify:
{
	match:
	{	
		"hammerid" "312"
		"classname" "func_breakable"
	}
	insert:
	{
	    "targetname" "window_l"
		"damagefilter" "zombie_only"
	}
	replace:
	{
		"health" "500"
	}
}


; Container Door - Left
modify:
{
	match:
	{	
		"hammerid" "39106"
		"classname" "func_breakable"
	}
	insert:
	{
	    "targetname" "containerdoor_l"
		"damagefilter" "zombie_only"
	}
}

; Container Door - Right
modify:
{
	match:
	{	
		"hammerid" "39312"
		"classname" "func_breakable"
	}
	insert:
	{
	    "targetname" "containerdoor_r"
		"damagefilter" "zombie_only"
	}
}

; Planks - Container to Roof - 1
modify:
{
	match:
	{	
		"hammerid" "49448"
		"classname" "func_breakable"
	}
	insert:
	{
	    "targetname" "planks_1"
		"damagefilter" "zombie_only"
	}
}

; Planks - Container to Roof - 2
modify:
{
	match:
	{	
		"hammerid" "49470"
		"classname" "func_breakable"
	}
	insert:
	{
	    "targetname" "planks_2"
		"damagefilter" "zombie_only"
	}
}



